.MANAGEMENT {
    background-color: #dcdcde;
    height: 900px;
    position: relative;
    width: 1440px;
  }
  
  .MANAGEMENT .div-2 {
    height: 900px;
    left: 0;
    position: absolute;
    top: 0;
    width: 332px;
  }
  
  .MANAGEMENT .rectangle {
    background-color: #d9d9d9;
    height: 537px;
    left: 0;
    position: absolute;
    top: 363px;
    width: 298px;
  }
  
  .MANAGEMENT .overlap-2 {
    height: 900px;
    position: relative;
  }
  
  .MANAGEMENT .LOGO {
    background-color: #dddedc;
    height: 900px;
    left: 0;
    position: absolute;
    top: 0;
    width: 330px;
  }
  
  .MANAGEMENT .overlap-group-2 {
    background-color: #dcdcde;
    box-shadow: 0px 4px 4px #00000066;
    height: 307px;
    position: relative;
  }
  
  .MANAGEMENT .logo-removebg-wrapper {
    background-color: #b9babe;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    height: 68px;
    left: 53px;
    position: absolute;
    top: 25px;
    width: 202px;
  }
  
  .MANAGEMENT .logo-removebg {
    height: 65px;
    left: 4px;
    object-fit: cover;
    position: absolute;
    top: 2px;
    width: 194px;
  }
  
  .MANAGEMENT .overlap-3 {
    height: 114px;
    left: 102px;
    position: absolute;
    top: 116px;
    width: 125px;
  }
  
  .MANAGEMENT .ellipse-2 {
    background-color: #b9babe;
    border-radius: 59.79px/56px;
    box-shadow: 0px 4px 4px #00000040;
    height: 112px;
    left: 2px;
    position: absolute;
    top: 0;
    width: 120px;
  }
  
  .MANAGEMENT .images-removebg {
    height: 112px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 2px;
    width: 125px;
  }
  
  .MANAGEMENT .MENU-ITEM {
    height: 83px;
    left: 0;
    position: absolute;
    top: 642px;
    width: 332px;
  }
  
  .MANAGEMENT .overlap-4 {
    background-color: #dededc;
    height: 83px;
    position: relative;
    width: 330px;
  }
  
  .MANAGEMENT .text-wrapper-2 {
    color: #0a6480;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 134px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    width: 61px;
  }
  
  .MANAGEMENT .icon-policy {
    height: 44px;
    left: 63px;
    position: absolute;
    top: 20px;
    width: 47px;
  }
  
  .MANAGEMENT .overlap-wrapper {
    height: 83px;
    left: 0;
    position: absolute;
    top: 725px;
    width: 332px;
  }
  
  .MANAGEMENT .vector {
    height: 28px;
    left: 64px;
    position: absolute;
    top: 27px;
    width: 39px;
  }
  
  .MANAGEMENT .MENU-ITEM-2 {
    height: 35px;
    left: 63px;
    position: absolute;
    top: 826px;
    width: 134px;
  }
  
  .MANAGEMENT .text-wrapper-3 {
    color: #0a6480;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 71px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
    width: 61px;
  }
  
  .MANAGEMENT .icon-policy-2 {
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
  }
  
  .MANAGEMENT .vector-2 {
    height: 31px;
    left: 7px;
    position: absolute;
    top: 4px;
    width: 41px;
  }
  
  .MANAGEMENT .MENU-ITEM-3 {
    height: 83px;
    left: 0;
    position: absolute;
    top: 392px;
    width: 332px;
  }
  
  .MANAGEMENT .icon-calendar-heat {
    height: 46px;
    left: 63px;
    position: absolute;
    top: 18px;
    width: 47px;
  }
  
  .MANAGEMENT .text-wrapper-4 {
    color: #0a6480;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 134px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    width: 74px;
  }
  
  .MANAGEMENT .MENU-ITEM-4 {
    height: 83px;
    left: 0;
    position: absolute;
    top: 475px;
    width: 332px;
  }
  
  .MANAGEMENT .icon-newspaper {
    height: 31px;
    left: 63px;
    position: absolute;
    top: 26px;
    width: 48px;
  }
  
  .MANAGEMENT .text-wrapper-5 {
    color: #0a6480;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 134px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    width: 41px;
  }
  
  .MANAGEMENT .MENU-ITEM-5 {
    height: 83px;
    left: 0;
    position: absolute;
    top: 558px;
    width: 332px;
  }
  
  .MANAGEMENT .icon-deadlines {
    height: 43px;
    left: 64px;
    position: absolute;
    top: 20px;
    width: 47px;
  }
  
  .MANAGEMENT .text-wrapper-6 {
    color: #0a6480;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 134px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    width: 75px;
  }
  
  .MANAGEMENT .MENU-ITEM-6 {
    height: 83px;
    left: 0;
    position: absolute;
    top: 309px;
    width: 332px;
  }
  
  .MANAGEMENT .icon-alternate {
    height: 36px;
    left: 64px;
    position: absolute;
    top: 23px;
    width: 46px;
  }
  
  .MANAGEMENT .text-wrapper-7 {
    color: #0a6480;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 134px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    width: 89px;
  }
  
  .MANAGEMENT .rectangle-2 {
    background-color: #4f5760;
    border-radius: 0px 16px 16px 0px;
    height: 72px;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
  }
  
  .MANAGEMENT .rectangle-3 {
    background-color: #b9babe;
    border-radius: 20px;
    height: 50px;
    left: 37px;
    position: absolute;
    top: 243px;
    width: 262px;
  }
  
  .MANAGEMENT .text-wrapper-8 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    left: 86px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 245px;
    width: 162px;
  }
  
  .MANAGEMENT .text-wrapper-9 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 30px;
    font-weight: 500;
    left: 357px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 139px;
  }
  
  .MANAGEMENT .overlap-5 {
    height: 367px;
    left: 350px;
    position: absolute;
    top: 208px;
    width: 1077px;
  }
  
  .MANAGEMENT .group-2 {
    height: 264px;
    left: 0;
    position: absolute;
    top: 41px;
    width: 441px;
  }
  
  .MANAGEMENT .overlap-group-wrapper {
    box-shadow: 0px 4px 4px #00000040;
    height: 256px;
    left: 459px;
    position: absolute;
    top: 41px;
    width: 618px;
  }
  
  .MANAGEMENT .overlap-6 {
    background-color: #ffffff;
    border-radius: 20px;
    height: 256px;
    position: relative;
    width: 610px;
  }
  
  .MANAGEMENT .overlap-7 {
    height: 166px;
    left: 39px;
    position: absolute;
    top: 61px;
    width: 531px;
  }
  
  .MANAGEMENT .BARS {
    height: 166px;
    left: 0;
    position: absolute;
    top: 0;
    width: 531px;
  }
  
  .MANAGEMENT .rectangle-wrapper {
    background-color: #5291cb99;
    border-radius: 15px;
    height: 12px;
    left: 0;
    position: absolute;
    top: 0;
    width: 531px;
  }
  
  .MANAGEMENT .rectangle-4 {
    background-color: #5291cb;
    border-radius: 15px;
    height: 12px;
    width: 312px;
  }
  
  .MANAGEMENT .div-wrapper {
    background-color: #4ed5bc99;
    border-radius: 15px;
    height: 12px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 531px;
  }
  
  .MANAGEMENT .rectangle-5 {
    background-color: #4ed5bc;
    border-radius: 15px;
    height: 12px;
    width: 260px;
  }
  
  .MANAGEMENT .overlap-8 {
    background-color: #53e39e99;
    border-radius: 15px;
    height: 12px;
    left: 0;
    position: absolute;
    top: 100px;
    width: 531px;
  }
  
  .MANAGEMENT .rectangle-6 {
    background-color: #53e39e;
    border-radius: 15px;
    height: 12px;
    width: 104px;
  }
  
  .MANAGEMENT .overlap-9 {
    background-color: #4dd4bc99;
    border-radius: 15px;
    height: 12px;
    left: 0;
    position: absolute;
    top: 154px;
    width: 531px;
  }
  
  .MANAGEMENT .rectangle-7 {
    background-color: #4dd4bc;
    border-radius: 15px;
    height: 12px;
    width: 52px;
  }
  
  .MANAGEMENT .text-wrapper-10 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
    width: 124px;
  }
  
  .MANAGEMENT .text-wrapper-11 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 70px;
    width: 124px;
  }
  
  .MANAGEMENT .text-wrapper-12 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 123px;
    width: 124px;
  }
  
  .MANAGEMENT .text-wrapper-13 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 39px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 29px;
    width: 124px;
  }
  
  .MANAGEMENT .TEXT {
    height: 367px;
    left: 4px;
    position: absolute;
    top: 0;
    width: 595px;
  }
  
  .MANAGEMENT .text-wrapper-14 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 3px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .MANAGEMENT .text-wrapper-15 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 455px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .MANAGEMENT .text-wrapper-16 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 396px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 337px;
  }
  
  .MANAGEMENT .text-wrapper-17 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 336px;
  }
  
  .MANAGEMENT .overlap-10 {
    border-radius: 12px;
    height: 261px;
    left: 354px;
    position: absolute;
    top: 584px;
    width: 340px;
  }
  
  .MANAGEMENT .group-9 {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .MANAGEMENT .rectangle-8 {
    background-color: #40d1ff;
    height: 20px;
    left: 91px;
    position: absolute;
    top: 227px;
    width: 20px;
  }
  
  .MANAGEMENT .text-wrapper-18 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 128px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 221px;
  }
  
  .MANAGEMENT .rectangle-9 {
    background-color: #224294;
    height: 20px;
    left: 91px;
    position: absolute;
    top: 192px;
    width: 20px;
  }
  
  .MANAGEMENT .text-wrapper-19 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 128px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 186px;
  }
  
  .MANAGEMENT .group-3 {
    height: 261px;
    left: 750px;
    position: absolute;
    top: 585px;
    width: 679px;
  }
  
  .MANAGEMENT .overlap-11 {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    height: 261px;
    position: relative;
    width: 669px;
  }
  
  .MANAGEMENT .overlap-group-3 {
    height: 159px;
    left: 114px;
    position: absolute;
    top: 47px;
    width: 510px;
  }
  
  .MANAGEMENT .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 510px;
  }
  
  .MANAGEMENT .line-2 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 38px;
    width: 510px;
  }
  
  .MANAGEMENT .line-3 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 75px;
    width: 510px;
  }
  
  .MANAGEMENT .line-4 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 117px;
    width: 510px;
  }
  
  .MANAGEMENT .vector-3 {
    height: 159px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 472px;
  }
  
  .MANAGEMENT .line-5 {
    height: 1px;
    left: 114px;
    object-fit: cover;
    position: absolute;
    top: 207px;
    width: 510px;
  }
  
  .MANAGEMENT .text-wrapper-20 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 152px;
  }
  
  .MANAGEMENT .text-wrapper-21 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 110px;
  }
  
  .MANAGEMENT .text-wrapper-22 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 50px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 73px;
  }
  
  .MANAGEMENT .text-wrapper-23 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 35px;
  }
  
  .MANAGEMENT .text-wrapper-24 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 54px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 195px;
  }
  
  .MANAGEMENT .DASHBOARD-LINE {
    height: 97px;
    left: 357px;
    position: absolute;
    top: 11px;
    width: 1059px;
  }
  
  .MANAGEMENT .overlap-12 {
    background-color: #d9d9d9;
    box-shadow: 0px 4px 4px #00000040;
    height: 97px;
    position: relative;
    width: 1055px;
  }
  
  .MANAGEMENT .overlap-group-4 {
    height: 75px;
    left: 14px;
    position: absolute;
    top: 12px;
    width: 230px;
  }
  
  .MANAGEMENT .text-wrapper-25 {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 51px;
  }
  
  .MANAGEMENT .text-wrapper-26 {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .MANAGEMENT .overlap-13 {
    background-color: #ffffff;
    height: 76px;
    left: 545px;
    position: absolute;
    top: 11px;
    width: 502px;
  }
  
  .MANAGEMENT .rectangle-10 {
    background-color: #ffffff;
    box-shadow: 4px 0px 4px #0000004c;
    height: 76px;
    left: 0;
    position: absolute;
    top: 0;
    width: 78px;
  }
  
  .MANAGEMENT .icon-search {
    height: 47px;
    left: 12px;
    position: absolute;
    top: 11px;
    width: 47px;
  }
  