.strip {
    display: flex;
    align-items: center; /* Vertically center items */
    padding: 1rem; /* Add padding for spacing */
    height: 5rem;
    justify-content: space-between;
  }


.test{
    background-color: #DCDCDE;
    width: 100vw;
    height: 100vh;

}

.position > label {
    font-size: 20px;
}