.box {
  height: 97px;
  width: 100vw;
}

.box .DASHBOARD-LINE {
  height: 97px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.box .overlap-group {
  background-color: #d9d9d9;
  box-shadow: 0px 4px 4px #00000040;
  height: 97px;
  position: relative;
  width: 100vw;
}

.box .overlap {
  height: 75px;
  left: 14px;
  position: absolute;
  top: 12px;
  width: 230px;
}

.box .text-wrapper {
  color: #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 51px;
}

.box .div {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.box .overlap-2 {
  height: 76px;
  left: 70vw;
  position: absolute;
  top: 11px;
  width: 503px;
}

.box .rectangle {
  background-color: #ffffff;
  height: 60px;
  left: 75px;
  position: absolute;
  top: 0;
  width: 350px;
  border-radius: 50px;
}
/* 
.box .rectangle-2 {
  background-color: #ffffff;
  box-shadow: 4px 0px 4px #0000004c;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 65px;
  border-radius: 50px;
} */

.box .icon-search {
  height: 37px;
  left: 110px;
  position: absolute;
  top: 14px;
  width: 27px;
}
