#upesfull {
    /*align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    align-content: center;
    margin: 0 auto;
    display: block;
    display: flex;*/

    display: block; /* Ensures it's treated as a block-level element */
    /*margin: 0 auto; /* Centers horizontally */
    width: 300px;
    height: 100px;
    /*margin: 10px;*/
    position: absolute;
    top:0;
    left: 0;
    margin: 20px;
    margin-top: 30px;
    
}


#logindiv {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    border: 1px solid;
    padding: 20px;
    /*box-shadow: 5px 10px #888888;*/
    border-radius: 20px;
    z-index: 1;
    backdrop-filter: blur(5px);
}


.center {
    align-items: centre;
    justify-self: center;
    align-content: center;
    text-align: center;
}

#loginform {
    margin: 10px;
}

input, label, select, option {
    font-size: 20px;
    height: 25px;
    width: 200px;
    margin: 10px;
}

label {
    float: left;
    font-weight: 500;
    font-size: 25px;
    color: black;
}

#welcome {
    color: black    ;
    font-size: 30px;
}

#loginbtn {
    font-size: 15px;
    background-color:#1f456e;
    text-align: center;
    color: white;
    margin: 10px;
    height: 50px;
    width: 150px;
    border-radius: 28px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Makes the body fill the viewport height */
    margin: 0;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/bg2.jpg");
}