.main {
    /*width: 100vw;*/
    background-color: #DCDCDE;
    display: flex;
}

.side-nav {
    
    width: 250px;
    height: 900px;
    justify-content: space-between;
    margin-right: 30px;

}

.logo {
    height:100px; 
    width:180px;
    background-color: #DCDCDE;
}

.panels {
    display: flex;
    flex-direction: column;
}

.panel {
    display: flex;
    align-items: center;
    margin: 5px;    
}

.panel :hover {
    cursor: pointer;
}
.panel > img {
    margin-left: 30px;
    height: 2.5rem;
    width:20px;
}

.panel > h4 {
    font-size: 20px;
    font-weight: 300;
    color: #0A6480;
    margin-left: 5px;
}

#empty {
    width: 300px;
    height: 25px;
}

.upes > img {
    height: 35px;
    width: 140px;
    margin-top: 20px;
    margin-left: 60px;
}